.cs{
	max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    margin:0;
    padding: 0;

}
.nav{ 
	background-color: #595959;
	color: #198156;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
	
}

.nav > ul{
	padding: 0;
	margin: 0;
}
.nav > li{
	display: inline;
	padding: 20px;
	color: #4a9504;

}

.nav > li:hover{
	background-color: #999999;
}

.nav > li > a{
	color: inherit;
	text-decoration: none;
}

.nav > li > a:hover{
	background-color: #999999;
	color: #ffffff;
}

#novosti{
	width: 700px;
	float: left;
}

#aside{
	margin-left: 700px;
}

#footer {
	background-color: #595959;
	color: #7B68EE;
	font-size: 12px;
	text-align: center;
}
