
div{
	background: black;
	color: #FFFFFF;
}

html{
	background: black;
}

.nav{ 
	background-color: #0d0d0d;
	color: #4a9504;
	list-style: none;
	text-align: center;
	background-color: #0d0d0d;
	max-width: 100%;
}

.nav > li{
	display: inline-block;
	padding: 1%;
	color: #4a9504;
}

.nav > li > a{
	color: #4a9504;
	text-decoration: none;

}

.center-pills {
    display: flex;
    justify-content: center;
}

.dropdown-menu{
	color: #198156;
}

#button{
	margin-top: 5%;
	margin-left: 40%;
}

.footer{
	text-align: center;
}

#tag{
	color: #4a9504;
}

.tekst{
	text-align: justify;
}